.card-container {
  width: 168px;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 550px) {
    width: 150px;
  }

  .thumbnail-container {
    cursor: pointer;

    width: 168px;
    height: 237px;
    overflow: hidden;
    border-radius: 7px;

    border: 3px solid rgba(0, 0, 0, 0);

    @media (max-width: 550px) {
      width: 150px;
      height: 211px;
    }

    @media (max-width: 450px) {
      width: 120px;
      height: 180px;

      width: 100px;
      height: 140px;
    }

    &:hover {
      border: 3px solid #4949e7;
    }

    position: relative;

    &:hover::after {
      display: flex;
      color: #fff;
      justify-content: center;
      align-items: center;
      font-size: 2.2rem;
      text-align: center;
      content: "Get Movie Details";
      position: absolute;
      inset: 0;
      background-color: rgba(19, 19, 19, 0.664);
      border: 2px solid black;
    }

    .thumbnail {
      width: 168px;
      height: 237px;

      object-fit: contain;

      @media (max-width: 550px) {
        width: 150px;
        height: 211px;
      }

      @media (max-width: 450px) {
        width: 120px;
        height: 180px;

        width: 100px;
        height: 140px;
      }
      // border: 5px solid red;
      // object-fit: contain;
    }
  }

  .title-container {
    span {
      display: block;
      margin-top: 5px;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 500;

      @media (max-width: 450px) {
        font-size: 1.2rem;
        margin-top: 3px;
      }
    }
  }
  .date-contaier {
    color: #afafaf;
  }
  .rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .imdb-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3px;

      span {
        color: #ffc907;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }

    .favourite-icons {
      display: flex;

      .seen-icon {
        width: 17px;
        height: 16px;

        circle {
          fill: #25ae88;
        }

        polyline {
          fill: none;
          stroke: white;
          stroke-width: 4;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
      }
      }

      .eye-container {
        display: flex;

        position: relative;
        .eye-sign-in-alert {
          background-color: rgb(23, 9, 150);
          color: #ffffff;
          font-size: 1.8rem;
          padding: 10px 20px;
          width: max-content;
          border-radius: 20px;

          position: absolute;
          bottom: 20px;
          right: -27px;

          display: none;
        }
      }
      svg {
        margin-right: 5px;
        cursor: pointer;
      }
      .red-heart-img {
        cursor: pointer;
      }

      .heart-container {
        display: flex;
        position: relative;
        cursor: pointer;

        img {
          cursor: pointer;
        }
        .sign-in-alert {
          background-color: rgb(150, 9, 9);
          color: #ffffff;
          font-size: 1.8rem;
          padding: 10px 20px;
          width: max-content;
          border-radius: 20px;

          position: absolute;
          bottom: 20px;
          right: -27px;

          display: none;
        }
      }
    }
  }
}
