.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  h1.login-text {
    font-size: 8rem;
    text-align: center;
  }

  .user-content-container {
    flex-grow: 1;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;

    @media (max-width: 450px) {
      font-size: 1.7rem;
    }

    @media (max-width: 355px) {
      font-size: 1.3rem;
    }

    & > * {
      margin-bottom: 2rem;

      @media (max-width: 450px) {
        margin-bottom: 1rem;
      }

      @media (max-width: 355px) {
        margin-bottom: 0.5rem;
      }
    }

    h1 {
      font-size: 5rem;

      @media (max-width: 450px) {
        font-size: 3rem;
      }

      @media (max-width: 355px) {
        font-size: 2rem;
      }
    }

    .img-container {
      img {
      }
    }

    .name-container {
      .display-name-text {
      }
      .display-name-value {
      }
    }
    .email-container {
      .email-text {
      }
      .email-value {
      }
    }
    .date-container {
      .date-text {
      }
      .date-value {
      }
    }
  }
}
