.selected-movie-container {
  height: 90.7rem;
  // max-width: 131.5rem;
  color: #fff;

  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      #000000 5%,
      rgba(0, 0, 0, 0.687449) 20%,
      rgba(196, 196, 196, 0) 100%
    );
  }

  .selected-movie-content-container {
    position: absolute;
    bottom: 47%;
    z-index: 3;
    margin-top: 3rem;
    .selected-movie-title {
      font-size: 6rem;
      margin-bottom: 2rem;
    }

    .selected-movie-overview {
      font-size: 1.4rem;
      max-width: 56rem;
    }

    .genre-container {
      font-size: 1.8rem;
      margin-top: 1rem;
      h3 {
        color: #ff2e00;
        text-transform: uppercase;
      }
      span {
        margin-top: 3px;
        display: block;
      }
    }

    .buttons-container {
      margin-top: 2rem;

      font-size: 2rem;
      display: flex;
      gap: 2rem;
      .watch-button {
        cursor: pointer;
        padding: 1rem 3rem;
        display: block;
        border-radius: 3rem;
        background-color: #5436a9;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        span {
        }
        svg {
        }

        &:hover {
          background-color: #fff;
          color: #5436a9;
        }

        &:hover svg path {
          // background-color: #fff;
          stroke: #5436a9;
          fill: #5436a9 !important;
        }
      }
      .mylist-button {
        cursor: pointer;
        padding: 1rem 3rem;
        display: block;
        border-radius: 3rem;

        display: block;
        background-color: #5c5c5c;
        span {
          margin-right: 1rem;
        }
        svg {
        }

        &:hover {
          background-color: #fff;
          color: #5436a9;
        }
        &:hover svg path {
          stroke: #5436a9;
          fill: #5436a9 !important;
        }
      }
    }
    .meta-data-container {
      margin-top: 1.5rem;

      img {
        margin-right: 5px;
      }
      .rating {
        color: #ffc907;
        font-size: 2rem;
      }
      .date {
        color: #959595;
        font-size: 2rem;
        font-weight: 600;

        margin-left: 1rem;
      }
    }
  }
}
