.selected-movie-container {
  height: 90.7rem;
  // max-width: 131.5rem;
  color: #fff;

  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      #000000 5%,
      rgba(0, 0, 0, 0.687449) 20%,
      rgba(196, 196, 196, 0) 100%
    );
  }

  .selected-movie-content-container {
    position: absolute;
    bottom: 47%;
    z-index: 3;
    margin-top: 3rem;
    .selected-movie-title {
      font-size: 6rem;
      margin-bottom: 2rem;
    }

    .selected-movie-overview {
      font-size: 1.4rem;
      max-width: 56rem;
    }

    .genre-container {
      font-size: 1.8rem;
      margin-top: 1rem;
      h3 {
        color: #ff2e00;
        text-transform: uppercase;
      }
      span {
        margin-top: 3px;
        display: block;
      }
    }

    .buttons-container {
      margin-top: 2rem;

      font-size: 2rem;
      display: flex;
      gap: 2rem;
      .watch-button {
        cursor: pointer;
        padding: 1rem 3rem;
        display: block;
        border-radius: 3rem;
        background-color: #5436a9;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        span {
        }
        svg {
        }

        &:hover {
          background-color: #fff;
          color: #5436a9;
        }

        &:hover svg path {
          // background-color: #fff;
          stroke: #5436a9;
          fill: #5436a9 !important;
        }
      }
      .mylist-button {
        cursor: pointer;
        padding: 1rem 3rem;
        display: block;
        border-radius: 3rem;

        display: block;
        background-color: #5c5c5c;
        span {
          margin-right: 1rem;
        }
        svg {
        }

        &:hover {
          background-color: #fff;
          color: #5436a9;
        }
        &:hover svg path {
          stroke: #5436a9;
          fill: #5436a9 !important;
        }
      }
    }
    .meta-data-container {
      margin-top: 1.5rem;

      img {
        margin-right: 5px;
      }
      .rating {
        color: #ffc907;
        font-size: 2rem;
      }
      .date {
        color: #959595;
        font-size: 2rem;
        font-weight: 600;

        margin-left: 1rem;
      }
    }
  }

  .youtube-container {
    position: absolute;
    z-index: 20;
    width: 80% !important;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // border: 5px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.63);
      width: calc(100% + 400px);
      height: calc(100% + 300px);
      filter: blur(20px);
    }

    .close-yt {
      font-size: 3.5rem;
      color: #000000;
      width: 50%;
      margin: 0 auto;
      margin-top: 20px;
      height: 100px;
      background-color: rgb(255, 255, 255);
      border-radius: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      &:hover {
        color: #ffffff;
        background-color: #000000;
      }
    }

    .youtube-player {
      height: 100%;
      border: 5px solid white;
    }
  }
}
