.aside-container {
  // background-color: red;
  flex-basis: 9%;

  @media screen and (max-width: 1180px) {
    flex-basis: 9%;
  }
  .aside {
    width: 90px;
    height: 320px;

    position: fixed;
    width: 117px;
    height: 315px;
    left: -32px;
    top: 125px;

    @media screen and (max-width: 1180px) {
      width: 85px;
      height: 320px;
    }

    @media screen and (max-width: 742px) {
      width: 75px;
      height: 320px;
    }

    background: linear-gradient(
      2.87deg,
      #130b29 9.89%,
      #5436a9 100%,
      #5e47a1 100%
    );

    border-radius: 26px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px 0px;
    svg {
      transform: translateX(55px);

      @media screen and (max-width: 1180px) {
        transform: scale(0.8) translateX(55px);
      }

      @media screen and (max-width: 742px) {
        transform: scale(0.7) translateX(55px);
      }
    }
  }
}
