.movies-carousel {
  height: 370px;

  // width: 171px;
  // width: 80vw;

  position: absolute;
  bottom: -7px;
  z-index: 2;

  background-color: #0b0f1671;
  // filter: blur(8px);

  // background: rgba(11, 15, 22, 0.47);
  // box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.25);
  // backdrop-filter: blur(12.5px);
  /* Note: backdrop-filter has minimal browser support */

  // border-radius: 24px;

  h3 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;

    margin-bottom: 20px;
  }

  .scroller-container {
    width: 90vw;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;

    .must-watch-container {
      display: flex;
      gap: 20px;

      .must-watch-movie {
        width: 168px;
        .thumbnail-container {
          width: 168px;
          height: 237px;
          overflow: hidden;
          border-radius: 7px;
          .thumbnail {
            width: 168px;
            height: 237px;

            // border: 5px solid red;
            // object-fit: contain;
          }
        }

        .title-container {
          span {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
        .date-contaier {
          color: #afafaf;
        }
        .rating-container {
          display: flex;
          justify-content: space-between;
          span {
            color: #ffc907;
            font-size: 1.1rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.animated-carousel {
  position: relative !important;
  margin-top: 4rem;

  background-color: #0b0f16;
  bottom: 0px;
}

// .scroller-container::-webkit-scrollbar {
//   width: 30px;
// }

// .scroller-container::-webkit-scrollbar-track {
//   background-color: rgb(20, 20, 20);
// }

// .scroller-container::-webkit-scrollbar-thumb {
//   box-shadow: inset 0 0 6px rgba(190, 13, 13, 0.3);
// }

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #6969dd;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

body::-webkit-scrollbar {
  background: unset;
}

body::-webkit-scrollbar-corner {
  background: unset;
}

body::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}
