.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  // background-color: #6650a5;
  // background-image: linear-gradient(260deg, #6650a5, #6650a5);
  // background: rgb(2, 0, 36);
  // background: linear-gradient(
  //   90deg,
  //   rgba(2, 0, 36, 1) 0%,
  //   rgba(9, 9, 121, 0.507) 80%,
  //   rgba(61, 8, 94, 0.699) 100%
  // );

  background: linear-gradient(
    90.53deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(103, 80, 165, 0.582) 20%,
    rgba(103, 80, 165, 0.822) 50%,
    rgb(103, 80, 165) 100%
  );
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

  padding: 1.1rem 4rem;

  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 742px) {
    padding: 0.8rem 1rem;
  }

  @media screen and (max-width: 742px) {
    padding: 0.8rem 0.5rem;
  }

  .logo-box {
    color: #fff;
    font-size: 3.6rem;

    display: flex;
    align-items: center;

    cursor: pointer;

    @media screen and (max-width: 1194px) {
      font-size: 2.6rem;
    }

    @media screen and (max-width: 1070px) {
      font-size: 2.2rem;
    }

    @media screen and (max-width: 742px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 440px) {
      font-size: 0.9rem;
    }
  }
  .links-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1070px) {
      margin-left: 25px;
    }

    a {
      font-size: 1.6rem;
      color: #a1b1cb;
      text-decoration: none;
      margin-right: 5.1rem;

      @media screen and (max-width: 1180px) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 1070px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 1000px) {
        margin-right: 2.1rem;
      }

      @media screen and (max-width: 742px) {
        font-size: 0.8rem;
        font-weight: 700;
        margin-right: 1.2rem;
      }

      @media screen and (max-width: 440px) {
        font-size: 0.7rem;
        font-weight: 500;
        margin-right: 1.1rem;
      }
    }
  }
  .search-container {
    display: flex;
    align-items: center;
    .search {
      color: #a2b3cd;

      width: 32.4rem;
      height: 3.7rem;
      background-color: #3b567d;
      outline: none;
      border: none;
      border-radius: 1.85rem;

      padding: 8px 19px;

      @media screen and (max-width: 1000px) {
        width: 18.4rem;
        height: 3.7rem;
      }
      @media screen and (max-width: 742px) {
        width: 12.4rem;
        height: 2.7rem;
      }

      @media screen and (max-width: 440px) {
        width: 9.4rem;
        height: 1.7rem;
        font-size: 1rem;
      }

      @media screen and (max-width: 360px) {
        width: 6.4rem;
        height: 1.7rem;
        font-size: 0.6rem;
      }
    }
  }
  .profile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    svg {
      margin-right: 35px;
    }

    .sign-out-button {
      background-color: rgb(255, 255, 255);
      color: #6650a5;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.4rem;
      // width: 75px;
      // height: 25px;
      border-radius: 7%;
      cursor: pointer;

      padding: 8px 12px;
      display: flex;
      justify-content: center;
      align-items: center;

      margin-left: 12px;
      transition: all 0.2s ease-in-out;
      border: 1px solid #ffffff00;

      &:hover {
        // transform: translateY(-2px);
        background-color: #6650a5;
        color: #fff;
        border: 1px solid #fff;
      }
    }

    .sign-in-button {
      background-color: rgb(255, 255, 255);
      color: #6650a5;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.8rem;
      // width: 75px;
      // height: 25px;
      border-radius: 7%;
      cursor: pointer;

      padding: 10px 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      margin-left: 5px;
      transition: all 0.2s ease-in-out;
      border: 1px solid #ffffff00;

      @media screen and (max-width: 1180px) {
        font-size: 1.4rem;
        padding: 5px 6px;
        margin-left: 5px;
        white-space: nowrap;
      }

      @media screen and (max-width: 742px) {
        font-size: 1rem;
        padding: 3px 4px;
        margin-left: 5px;
        white-space: nowrap;
      }

      @media screen and (max-width: 440px) {
        font-size: 0.7rem;
        padding: 1px 2.5px;
        margin-left: 3px;
        white-space: nowrap;
      }

      &:hover {
        // transform: translateY(-2px);
        background-color: #6650a5;
        color: #fff;
        border: 1px solid #fff;
      }
    }

    .profile-pic-container {
      position: relative;

      img {
      }
      svg {
        margin: 0;
        position: absolute;
        bottom: 2px;
        right: 4px;
      }
    }
  }
}
