.footer-outer-container {
  color: #fff;
  background-color: #161214;
  padding-top: 60px;
  padding-bottom: 30px;

  @media (max-width: 400px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .footer-inner-container {
    max-width: 70%;
    margin: 0 auto;

    @media (max-width: 900px) {
      max-width: 80%;
    }

    @media (max-width: 800px) {
      max-width: 90%;
    }

    @media (max-width: 700px) {
      max-width: 95%;
    }

    .columns-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      .column {
        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 2rem;

          @media (max-width: 700px) {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 2rem;
          }
        }
        ul {
          li {
            list-style-type: none;
            margin-bottom: 18px;

            @media (max-width: 700px) {
              margin-bottom: 10px;
            }

            @media (max-width: 450px) {
              margin-bottom: 5px;
            }
            a {
              color: #afafaf;
              font-size: 1.4rem;
              text-decoration: none;

              @media (max-width: 700px) {
                font-size: 1.1rem;
              }

              @media (max-width: 520px) {
                font-size: 0.8rem;
              }

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        span {
          color: #afafaf;
          font-size: 1.4rem;
          text-decoration: none;

          display: block;
          margin-bottom: 18px;

          @media (max-width: 700px) {
            font-size: 1.1rem;
          }

          @media (max-width: 520px) {
            font-size: 0.8rem;
          }
        }
      }
      .column-1 {
      }

      .socials-column {
        @media (max-width: 700px) {
          margin-left: 20px;
        }
        @media (max-width: 450px) {
          margin-left: 10px;
        }
        .socials-container {
          display: flex;
          .single-svg-container {
            border: 1px solid white;
            padding: 5px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 39px;
            height: 39px;

            margin-right: 10px;
            cursor: pointer;

            @media (max-width: 550px) {
              height: 18px;
              width: 18px;
              padding: 3px;
            }

            svg {
              cursor: pointer;

              @media (max-width: 700px) {
                transform: scale(0.7);
              }

              @media (max-width: 700px) {
                transform: scale(0.7);
              }

              @media (max-width: 450px) {
                transform: scale(0.7);
              }

              &:not(:last-child) {
                margin-right: 2rem;
              }
            }
          }
          svg {
            cursor: pointer;

            &:not(:last-child) {
              margin-right: 2rem;
            }
          }
        }
      }
    }
    .copyrights-container {
      text-align: center;
      @media (max-width: 400px) {
        margin-top: 20px;
      }

      span {
        color: #afafaf;
        font-size: 1.4rem;

        @media (max-width: 700px) {
          font-size: 1rem;
        }
      }
    }
  }
}
