.footer-outer-container {
  color: #fff;
  background-color: #161214;
  padding-top: 60px;
  padding-bottom: 30px;

  .footer-inner-container {
    max-width: 70%;
    margin: 0 auto;

    .columns-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .column {
        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 2rem;
        }
        ul {
          li {
            list-style-type: none;
            margin-bottom: 18px;
            a {
              color: #afafaf;
              font-size: 1.4rem;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        span {
          color: #afafaf;
          font-size: 1.4rem;
          text-decoration: none;

          display: block;
          margin-bottom: 18px;
        }
      }
      .column-1 {
      }

      .socials-column {
        .socials-container {
          display: flex;
          .single-svg-container {
            border: 1px solid white;
            padding: 5px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 39px;
            height: 39px;

            margin-right: 10px;
            cursor: pointer;

            svg {
              cursor: pointer;

              &:not(:last-child) {
                margin-right: 2rem;
              }
            }
          }
          svg {
            cursor: pointer;

            &:not(:last-child) {
              margin-right: 2rem;
            }
          }
        }
      }
    }
    .copyrights-container {
      text-align: center;
      span {
        color: #afafaf;
        font-size: 1.4rem;
      }
    }
  }
}
