.reviews-page {
  h1 {
    // color: #4949e7;
    color: #000;
    font-size: 5rem;
    padding: 2rem;
    text-align: center;

    @media (max-width: 750px) {
      font-size: 3rem;
      padding: 1rem;
    }

    @media (max-width: 530px) {
      font-size: 2.3rem;
      padding: 1rem;
    }
  }

  .reviews-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (max-width: 750px) {
      gap: 1rem;
      padding: 1rem;
    }
  }
}
