.cast-card {
  margin-right: 3rem;
  cursor: pointer;

  img {
    height: 200px;
    border: 2px solid white;
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 1rem;

    &:hover {
      border: 2px solid #4949e7;
    }
  }

  .actor-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .character {
    display: block;
    color: #a9a9a9;
    font-size: 1.5rem;
    font-weight: 600;

    max-width: 100px;
  }
}
