.authentication-page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .authentication-container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;

    justify-content: space-around;
    gap: 2rem;

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }
}
