.review-card {
  display: flex;
  gap: 3rem;
  align-items: flex-start;

  @media (max-width: 750px) {
    gap: 1rem;
  }

  @media (max-width: 400px) {
    flex-direction: column;
  }

  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 3px solid #b4b4b4;

    @media (max-width: 750px) {
    }
  }

  .movie-img {
    width: 40%;
    border-radius: 12px;
    cursor: pointer;

    object-fit: contain;

    border: 7px solid #4949e700;

    @media (max-width: 750px) {
    }

    &:hover {
      border: 7px solid #4949e7;
    }
  }

  .review-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 530px) {
      gap: 1rem;
    }

    h3 {
      font-size: 2.4rem;
      @media (max-width: 750px) {
        font-size: 2rem;
      }

      @media (max-width: 530px) {
        font-size: 1.7rem;
      }
    }
    h4 {
      font-size: 2rem;
      @media (max-width: 750px) {
        font-size: 1.5rem;
      }
    }
    p {
      font-size: 1.8rem;
      line-height: 1.6;
      @media (max-width: 750px) {
        font-size: 1.3rem;
      }

      @media (max-width: 530px) {
        font-size: 1rem;
      }
    }

    button {
      all: unset;
      background-color: #4949e7;
      color: #fff;
      width: max-content;
      padding: 1rem 2rem;
      border-radius: 10px;
      cursor: pointer;
      font-size: 2rem;

      @media (max-width: 750px) {
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
      }

      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
